body{
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #16007a;
    margin: 0 auto;
    color: #424242;
    padding: 0 300px 0 300px;
}

main{
    margin: 0 auto;
    /*width: 800px;*/
}

h1{
    text-align: center;
    font-size: 3em;
}

img{
    width: 350px;
    height: 500px;
    border-radius: 20px;
}

h2{
    border-bottom: 1px solid #16007a;
    border-width: 1px 700px;
}


.trad{
    display: flex;
    gap: 25px;
}

.trad section{
    flex-grow: 1;
    flex-basis: 0;
    background: #93AFC8;
    border-radius: 20px;
    margin-top: 25px;
}

.trad section p{
    margin: 20px;

}

.trad section h2{
    padding: 20px;
}

.trad section img{
    padding: 20px;
    border-radius: 20px;
}

.trad section table, th, td{
    border: 1px solid;
}

.trad section table{
    margin: 20px;
}

.best{
    display: flex;
    gap: 25px;
}

.best section{
    flex-grow: 1;
    flex-basis: 0;
    background: #93AFC8;
    border-radius: 20px;
    margin-top: 25px;
}

.best section p{
    margin: 20px;
}

.best section h2{
    padding: 20px;
}

.best section img{
    padding: 20px;
    border-radius: 20px;
}

#cont{
    margin: 50px;
    padding: 20px;
}