body{
    background: #fff;
    font-family: Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0 auto;
    color: #424242;
    padding: 0 300px 0 300px;
}

main{
    margin: 0 auto;
    /*width: 800px;*/
}

h1{
    text-align: center;
    font-size: 3em;
}

img{
    width: 350px;
    height: 500px;
    border-radius: 20px;
}

h2{
    border-bottom: 1px solid #424242;
    border-width: 1px 700px;
}

p{
    padding-left: 300px;
}